@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-dark-blue: #1B365D;
  --color-golden-yellow: #BD8C2C;
  --color-white-regular: #FFFFFF;
  --color-black-regular: #000000;

  --font-open-sans: "Open Sans", sans-serif;
  --font-payfair-display: "Playfair Display", serif;

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}